.App {
  text-align: center;
  display: grid;
  grid-template-areas:
  'header header '
  'menu main '
  'footer footer ';
  grid-template-rows: 10% 80% ;
  grid-template-columns: 15% ;
  width: 100vw;
  height: 100vh;
  border: 2px solid yellow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cardContainer{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* width: 100vw; */

}

.imageOfCard{
  width: 200px;
  height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
